<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            BaroboLab - DEMO
        </title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/challenge.js"></script>
    </head>
    <body ng-app>
        <nav class="app">
            <a href="index.html">
                <img src="img/barobo_logo.png">
            </a>
            <ol class="nav nav-stacked nav-pills">
                <li>
                    <a href="holt.html">
                        <img src="img/holt_california.png">
                    </a>
                </li>
                <li>
                    <a href="chap6.html">
                        Chapter 6
                    </a>
                </li>
                <li>
                    <a href="section6-1.html">
                        Section 6.1
                    </a>
                </li>
                <hr class="hdr">
                <li>
                    <a href="setup.html">
                        Cops vs. Robbers
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        Challenge
                    </a>
                </li>
                <hr class="ftr">
                <li>
                    <a href="lab_overview.html">
                        <small class="text-muted">
                            Overview
                        </small>
                    </a>
                </li>
            </ol>
        </nav>
        <section class="container" ng-controller="ChallengeControl">
            <h2>
                Factoring Game
            </h2>
            <div id="topNumber">
                {{topNumber.val}}
            </div>
            <div>
                //Two lines\\
            </div>
            <div>
                <input ng-model="number1.val" type="text">
                <input ng-model="number2.val" type="text">
                <br>
                <button ng-click="check(number1)" ng-disabled="number1.disabled" class="btn" ng-class="disClass(number1)">
                    Robot 1
                </button>
                <button ng-click="check(number2)" ng-disabled="number2.disabled" class="btn" ng-class="disClass(number2)">
                    Robot 2
                </button>
            </div>
        </section>
        <script src="js/vendor/jquery-1.10.2.min.js">
        </script>
        <script src="js/vendor/bootstrap.min.js">
        </script>
    </body>
</html>
