<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            BaroboLab - DEMO
        </title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/jqmath-0.4.0.css">
    </head>
    <body>
        <nav class="app">
            <a href="index.html">
                <img src="img/barobo_logo.png">
            </a>
            <ol class="nav nav-stacked nav-pills">
                <li>
                    <a href="holt.html">
                        <img src="img/holt_california.png">
                    </a>
                </li>
                <li>
                    <a href="chap6.html">
                        Chapter 6
                    </a>
                </li>
                <hr class="hdr">
                <li>
                    <a href="setup.html">
                        <div>
                            6.1:
                            <small>
                                Cops vs. Robbers
                            </small>
                        </div>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        Explore
                    </a>
                </li>
                <hr class="ftr">
                <li>
                    <a href="lab_overview.html">
                        <small class="text-muted">
                            Overview
                        </small>
                    </a>
                </li>
            </ol>
        </nav>
        <section>
            <div ng-app="explore">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#standardForm" data-toggle="tab">
                            Standard Form
                        </a>
                    </li>
                    <li>
                        <a href="#slopeInterceptForm" data-toggle="tab">
                            Slope Intercept Form
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" ng-controller="Eqns">
                        Input a system of your choice.
                        <div class="eqn-control" id="leftEqn">
                            <div>
                                <input maxlength="3" size="3" max="99" min="-99" ng-model="x1">
                                x + 
                                <input maxlength="3" size="3" max="99" min="-99" ng-model="y1">
                                y = 
                                <input maxlength="3" size="3" max="99" min="-99" ng-model="z1">
                            </div>
                            <div>
                                {{x1| number }}x + {{y1| number }}y = {{z1| number }}
                            </div>
                            <div>
                                {{y1| number }}y = {{-x1| number }}x + {{z1| number }}
                            </div>
                            <div>
                                y = {{-x1/y1| number }}x + {{z1/y1| number }}
                            </div>
                            <div>
                                Slope = {{-x1/y1| number }}
                            </div>
                            <div>
                                y-intercept = {{z1/y1| number }}
                            </div>
                        </div>
                        <div class="eqn-control" id="rightEqn">
                            <div>
                                <input maxlength="3" size="3" max="99" min="-99" ng-model="x2">
                                x + 
                                <input maxlength="3" size="3" max="99" min="-99" ng-model="y2">
                                y = 
                                <input maxlength="3" size="3" max="99" min="-99" ng-model="z2">
                            </div>
                            <div>
                                {{x2| number }}x + {{y2| number }}y = {{z2| number }}
                            </div>
                            <div>
                                {{y2| number }}y = {{-x2| number }}x + {{z2| number }}
                            </div>
                            <div>
                                y = {{-x2/y2| number }}x + {{z2/y2| number }}
                            </div>
                            <div>
                                Slope = {{-x2/y2| number }}
                            </div>
                            <div>
                                y-intercept = {{z2/y2| number }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="slopeInterceptForm">
                        wat
                    </div>
                </div>
                <div id="chartDisplay">
                    <div id="chartGoesHere">
                    </div>
                </div>
                <a href="challenge.html" class="next btn btn-large btn-primary">
                    Next
                </a>
            </div>
        </section>
        <script src="js/vendor/jquery-1.10.2.min.js">
        </script>
        <script src="js/vendor/bootstrap.min.js">
        </script>
        <script src="js/vendor/angular.min.js">
        </script>
        <script src="js/vendor/jqmath-etc-0.4.0.min.js">
        </script>
        <script src="js/explore.js">
        </script>
    </body>
</html>
